@import '../../node_modules/bootstrap-sass/assets/stylesheets/_bootstrap.scss';

html {
	width: 100%;
	height: 100%;
}

body {
	font-size: 16px;
	width: 100%;
	height: 100%;
}

p {
	font-size: 0.875em;
}

.container-fluid {
	max-width: 1180px;
}

.page-header {
	margin-top: 20px;
	font-size: 1.5em;
}

main {
	height: calc(100% - 160px);
}

#game-surface {
	border: 1px solid black;
	margin: 0 auto;
	width: 100%;
	height: 100%;
	box-sizing: content-box;
}